*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: rgb(48, 151, 186);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav{
background-color: rgba(255, 127, 80, 0.3);
padding: 20px;
display: flex;
justify-content: center;
gap: 10px;
}

nav a{
    background-color: rgb(223, 216, 117);
    color: rgb(117, 38, 190);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(53, 164, 228);
    box-shadow: 3px 5px 6px 4px aqua;
}

nav a:hover{
    background-color: rgb(157, 116, 194);
    color:rgb(223, 216, 117);
}

body{
    background-image: url(Imagenes/fondo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: rgb(211, 82, 240);
    height: 45px;
}

img{
    width: 100%;
    margin: auto;
}

.logo{
    width: 400px;
}

.logo img{
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 144);
}

.row{
    display: flex;
    gap: 50px;
    background-color: rgba(30, 1, 41, 0.3);
    font-style: italic;
    margin: 20px;
    padding: 20px;
}

.dos{
    width: 45%;
}

.dos img{
    width: 80%;
}

.tres{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px double rgb(253, 245, 245) ;
    width: 33%;
    padding: 1rem;
}

.tres img{
    width: 65%;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
}
.galeria img{
    width: 200px;
    border-radius: 20px;

}

#diferente{
    border-radius: 50%;
    border: 1px solid rgb(15, 153, 38);
}

.imagen{
    width: 60%;
    margin: auto;
}

.imagen img:hover{
    filter:sepia();
}

.filtros{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.filtros #img7:hover{
    border-radius: 20px;
    filter: invert();

}

.filtros #img8:hover{
    border-radius: 20px;
    filter: blur(8px);

}

.filtros #img9:hover{
    border-radius: 20px;
    filter: brightness(65%);

}

.filtros #img10:hover{
    border-radius: 20px;
    filter: grayscale();

}

.filtros #img11:hover{
    border-radius: 20px;
    transform: scale(1.5)

}